=begin
#Open Banking

#OpenAPI specification for Finicity APIs.  Open Banking solutions in the US are provided by Finicity, a Mastercard company.

The version of the OpenAPI document: 1.19.0
Contact: apisupport@mastercard.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenBanking
  class ConnectApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Generate Connect URL
    # Generate a Connect URL link to add within your own applications.  Optional Parameters: * `experience`: Configure different customer experiences per Connect session by changing the brand, color, logo, icon, the type of credit decisioning report to generate after the session ends, and more. * `language`: By default, the Connect application is in English. You don't need to pass  this parameter unless you want to translate Connect into one of our supported languages.    * Spanish (United States)   * French (Canada)   MVS Developers: You can pre-populate the consumer's SSN on the Find employment records page at the beginning of the MVS payroll app. Pass the SSN value for the consumer in the body of the request call.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_parameters [ConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectUrl]
    def generate_connect_url(connect_parameters, opts = {})
      data, _status_code, _headers = generate_connect_url_with_http_info(connect_parameters, opts)
      data
    end

    # Generate Connect URL
    # Generate a Connect URL link to add within your own applications.  Optional Parameters: * &#x60;experience&#x60;: Configure different customer experiences per Connect session by changing the brand, color, logo, icon, the type of credit decisioning report to generate after the session ends, and more. * &#x60;language&#x60;: By default, the Connect application is in English. You don&#39;t need to pass  this parameter unless you want to translate Connect into one of our supported languages.    * Spanish (United States)   * French (Canada)   MVS Developers: You can pre-populate the consumer&#39;s SSN on the Find employment records page at the beginning of the MVS payroll app. Pass the SSN value for the consumer in the body of the request call.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_parameters [ConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectUrl, Integer, Hash)>] ConnectUrl data, response status code and response headers
    def generate_connect_url_with_http_info(connect_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.generate_connect_url ...'
      end
      # verify the required parameter 'connect_parameters' is set
      if @api_client.config.client_side_validation && connect_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'connect_parameters' when calling ConnectApi.generate_connect_url"
      end
      # resource path
      local_var_path = '/connect/v2/generate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.generate_connect_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#generate_connect_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Fix Connect URL
    # Use the Connect Fix API when the following conditions occur: * The connection to the user's financial institution is lost * The user's credentials were updated (for any number of reasons) * The user's MFA challenge has expired  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param fix_connect_parameters [FixConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectUrl]
    def generate_fix_connect_url(fix_connect_parameters, opts = {})
      data, _status_code, _headers = generate_fix_connect_url_with_http_info(fix_connect_parameters, opts)
      data
    end

    # Generate Fix Connect URL
    # Use the Connect Fix API when the following conditions occur: * The connection to the user&#39;s financial institution is lost * The user&#39;s credentials were updated (for any number of reasons) * The user&#39;s MFA challenge has expired  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param fix_connect_parameters [FixConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectUrl, Integer, Hash)>] ConnectUrl data, response status code and response headers
    def generate_fix_connect_url_with_http_info(fix_connect_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.generate_fix_connect_url ...'
      end
      # verify the required parameter 'fix_connect_parameters' is set
      if @api_client.config.client_side_validation && fix_connect_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'fix_connect_parameters' when calling ConnectApi.generate_fix_connect_url"
      end
      # resource path
      local_var_path = '/connect/v2/generate/fix'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(fix_connect_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.generate_fix_connect_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#generate_fix_connect_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Connect URL - Joint Borrower
    # Same as Connect Full (`POST /connect/v2/generate`) but for joint borrowers.  MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_joint_borrower_parameters [ConnectJointBorrowerParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectUrl]
    def generate_joint_borrower_connect_url(connect_joint_borrower_parameters, opts = {})
      data, _status_code, _headers = generate_joint_borrower_connect_url_with_http_info(connect_joint_borrower_parameters, opts)
      data
    end

    # Generate Connect URL - Joint Borrower
    # Same as Connect Full (&#x60;POST /connect/v2/generate&#x60;) but for joint borrowers.  MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_joint_borrower_parameters [ConnectJointBorrowerParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectUrl, Integer, Hash)>] ConnectUrl data, response status code and response headers
    def generate_joint_borrower_connect_url_with_http_info(connect_joint_borrower_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.generate_joint_borrower_connect_url ...'
      end
      # verify the required parameter 'connect_joint_borrower_parameters' is set
      if @api_client.config.client_side_validation && connect_joint_borrower_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'connect_joint_borrower_parameters' when calling ConnectApi.generate_joint_borrower_connect_url"
      end
      # resource path
      local_var_path = '/connect/v2/generate/jointBorrower'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_joint_borrower_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.generate_joint_borrower_connect_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#generate_joint_borrower_connect_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate Lite Connect URL
    # Connect Lite is a variation of Connect Full (`POST /connect/v2/generate`), which has a limited set of features. * Sign in, user's credentials, and Multi-Factor Authentication (MFA) * No user account management  The Connect Web SDK isn't a requirement when using Connect lite. However, if you want to use the SDK events, routes, and user events, then you must integrate with the Connect Web SDK.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param lite_connect_parameters [LiteConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectUrl]
    def generate_lite_connect_url(lite_connect_parameters, opts = {})
      data, _status_code, _headers = generate_lite_connect_url_with_http_info(lite_connect_parameters, opts)
      data
    end

    # Generate Lite Connect URL
    # Connect Lite is a variation of Connect Full (&#x60;POST /connect/v2/generate&#x60;), which has a limited set of features. * Sign in, user&#39;s credentials, and Multi-Factor Authentication (MFA) * No user account management  The Connect Web SDK isn&#39;t a requirement when using Connect lite. However, if you want to use the SDK events, routes, and user events, then you must integrate with the Connect Web SDK.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param lite_connect_parameters [LiteConnectParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectUrl, Integer, Hash)>] ConnectUrl data, response status code and response headers
    def generate_lite_connect_url_with_http_info(lite_connect_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.generate_lite_connect_url ...'
      end
      # verify the required parameter 'lite_connect_parameters' is set
      if @api_client.config.client_side_validation && lite_connect_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'lite_connect_parameters' when calling ConnectApi.generate_lite_connect_url"
      end
      # resource path
      local_var_path = '/connect/v2/generate/lite'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(lite_connect_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.generate_lite_connect_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#generate_lite_connect_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get Experience IDs
    # Retrieve Connect experiences by application name. Optionally, filter the experiences by product codes.
    # @param app_name [String] Unique name of the application provided to Mastercard during app registration.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :product_code A unique billing code assigned to each open banking product used by the customer, as detailed in their contract.
    # @return [Array<Experiences>]
    def get_all_experience(app_name, opts = {})
      data, _status_code, _headers = get_all_experience_with_http_info(app_name, opts)
      data
    end

    # Get Experience IDs
    # Retrieve Connect experiences by application name. Optionally, filter the experiences by product codes.
    # @param app_name [String] Unique name of the application provided to Mastercard during app registration.
    # @param [Hash] opts the optional parameters
    # @option opts [Array<String>] :product_code A unique billing code assigned to each open banking product used by the customer, as detailed in their contract.
    # @return [Array<(Array<Experiences>, Integer, Hash)>] Array<Experiences> data, response status code and response headers
    def get_all_experience_with_http_info(app_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.get_all_experience ...'
      end
      # verify the required parameter 'app_name' is set
      if @api_client.config.client_side_validation && app_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_name' when calling ConnectApi.get_all_experience"
      end
      # resource path
      local_var_path = '/connect/experiences'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'appName'] = app_name
      query_params[:'productCode'] = @api_client.build_collection_param(opts[:'product_code'], :csv) if !opts[:'product_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Experiences>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.get_all_experience",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#get_all_experience\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Connect Email
    # Same as Connect Full (`POST /connect/v2/generate`) but send a Connect email to a consumer.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_email_parameters [ConnectEmailParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectEmailUrl]
    def send_connect_email(connect_email_parameters, opts = {})
      data, _status_code, _headers = send_connect_email_with_http_info(connect_email_parameters, opts)
      data
    end

    # Send Connect Email
    # Same as Connect Full (&#x60;POST /connect/v2/generate&#x60;) but send a Connect email to a consumer.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_email_parameters [ConnectEmailParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectEmailUrl, Integer, Hash)>] ConnectEmailUrl data, response status code and response headers
    def send_connect_email_with_http_info(connect_email_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.send_connect_email ...'
      end
      # verify the required parameter 'connect_email_parameters' is set
      if @api_client.config.client_side_validation && connect_email_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'connect_email_parameters' when calling ConnectApi.send_connect_email"
      end
      # resource path
      local_var_path = '/connect/v2/send/email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_email_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectEmailUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.send_connect_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#send_connect_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send Connect Email - Joint Borrower
    # Same as Connect Joint Borrower (`POST /connect/v2/generate/jointBorrower`) but send a Connect email  to at least one of the joint borrower's email addresses.  When the consumer opens the email, MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_joint_borrower_email_parameters [ConnectJointBorrowerEmailParameters] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectEmailUrl]
    def send_joint_borrower_connect_email(connect_joint_borrower_email_parameters, opts = {})
      data, _status_code, _headers = send_joint_borrower_connect_email_with_http_info(connect_joint_borrower_email_parameters, opts)
      data
    end

    # Send Connect Email - Joint Borrower
    # Same as Connect Joint Borrower (&#x60;POST /connect/v2/generate/jointBorrower&#x60;) but send a Connect email  to at least one of the joint borrower&#39;s email addresses.  When the consumer opens the email, MVS prompts both the primary and joint borrower to enter each of their financial, payroll, and paystub information in the same Connect session.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param connect_joint_borrower_email_parameters [ConnectJointBorrowerEmailParameters] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectEmailUrl, Integer, Hash)>] ConnectEmailUrl data, response status code and response headers
    def send_joint_borrower_connect_email_with_http_info(connect_joint_borrower_email_parameters, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.send_joint_borrower_connect_email ...'
      end
      # verify the required parameter 'connect_joint_borrower_email_parameters' is set
      if @api_client.config.client_side_validation && connect_joint_borrower_email_parameters.nil?
        fail ArgumentError, "Missing the required parameter 'connect_joint_borrower_email_parameters' when calling ConnectApi.send_joint_borrower_connect_email"
      end
      # resource path
      local_var_path = '/connect/v2/send/email/jointBorrower'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(connect_joint_borrower_email_parameters)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectEmailUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.send_joint_borrower_connect_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#send_joint_borrower_connect_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Account Validation Assistant User verification of microdeposits
    # The UI re-engages the consumer to enter two microdeposit amounts found in their account and validates them.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param micro_entry_verify_request_parameter [MicroEntryVerifyRequestParameter] 
    # @param [Hash] opts the optional parameters
    # @return [ConnectUrl]
    def verify_micro_entry_microdeposit(micro_entry_verify_request_parameter, opts = {})
      data, _status_code, _headers = verify_micro_entry_microdeposit_with_http_info(micro_entry_verify_request_parameter, opts)
      data
    end

    # Account Validation Assistant User verification of microdeposits
    # The UI re-engages the consumer to enter two microdeposit amounts found in their account and validates them.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param micro_entry_verify_request_parameter [MicroEntryVerifyRequestParameter] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConnectUrl, Integer, Hash)>] ConnectUrl data, response status code and response headers
    def verify_micro_entry_microdeposit_with_http_info(micro_entry_verify_request_parameter, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ConnectApi.verify_micro_entry_microdeposit ...'
      end
      # verify the required parameter 'micro_entry_verify_request_parameter' is set
      if @api_client.config.client_side_validation && micro_entry_verify_request_parameter.nil?
        fail ArgumentError, "Missing the required parameter 'micro_entry_verify_request_parameter' when calling ConnectApi.verify_micro_entry_microdeposit"
      end
      # resource path
      local_var_path = '/connect/v2/generate/microentry/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(micro_entry_verify_request_parameter)

      # return_type
      return_type = opts[:debug_return_type] || 'ConnectUrl'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"ConnectApi.verify_micro_entry_microdeposit",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ConnectApi#verify_micro_entry_microdeposit\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
