=begin
#Open Banking

#OpenAPI specification for Finicity APIs.  Open Banking solutions in the US are provided by Finicity, a Mastercard company.

The version of the OpenAPI document: 1.19.0
Contact: apisupport@mastercard.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenBanking
  class CustomerAuthorizationDetailsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Returns customer authorization details for the institution login identification.
    # The endpoint provides customer authorization details like authorization start date, authorization end date against the requested institution login id  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param institution_login_id [Integer] Institution login id of the customer.
    # @param [Hash] opts the optional parameters
    # @return [CustomerAuthorizationDetails]
    def get_customer_authorization_details(institution_login_id, opts = {})
      data, _status_code, _headers = get_customer_authorization_details_with_http_info(institution_login_id, opts)
      data
    end

    # Returns customer authorization details for the institution login identification.
    # The endpoint provides customer authorization details like authorization start date, authorization end date against the requested institution login id  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param institution_login_id [Integer] Institution login id of the customer.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CustomerAuthorizationDetails, Integer, Hash)>] CustomerAuthorizationDetails data, response status code and response headers
    def get_customer_authorization_details_with_http_info(institution_login_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CustomerAuthorizationDetailsApi.get_customer_authorization_details ...'
      end
      # verify the required parameter 'institution_login_id' is set
      if @api_client.config.client_side_validation && institution_login_id.nil?
        fail ArgumentError, "Missing the required parameter 'institution_login_id' when calling CustomerAuthorizationDetailsApi.get_customer_authorization_details"
      end
      # resource path
      local_var_path = '/customers/institution-logins/{institution_login_id}/authorization-details'.sub('{' + 'institution_login_id' + '}', CGI.escape(institution_login_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CustomerAuthorizationDetails'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"CustomerAuthorizationDetailsApi.get_customer_authorization_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CustomerAuthorizationDetailsApi#get_customer_authorization_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
