=begin
#Open Banking

#OpenAPI specification for Finicity APIs.  Open Banking solutions in the US are provided by Finicity, a Mastercard company.

The version of the OpenAPI document: 1.19.0
Contact: apisupport@mastercard.com
Generated by: https://openapi-generator.tech
Generator version: 7.7.0

=end

require 'cgi'

module OpenBanking
  class PayStatementsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Store Customer Pay Statement
    # Upload pay statements for a customer.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param customer_id [String] A customer ID
    # @param pay_statement [PayStatement] 
    # @param [Hash] opts the optional parameters
    # @return [Asset]
    def store_customer_pay_statement(customer_id, pay_statement, opts = {})
      data, _status_code, _headers = store_customer_pay_statement_with_http_info(customer_id, pay_statement, opts)
      data
    end

    # Store Customer Pay Statement
    # Upload pay statements for a customer.  _Supported regions_: ![🇺🇸](https://flagcdn.com/20x15/us.png)
    # @param customer_id [String] A customer ID
    # @param pay_statement [PayStatement] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Asset, Integer, Hash)>] Asset data, response status code and response headers
    def store_customer_pay_statement_with_http_info(customer_id, pay_statement, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PayStatementsApi.store_customer_pay_statement ...'
      end
      # verify the required parameter 'customer_id' is set
      if @api_client.config.client_side_validation && customer_id.nil?
        fail ArgumentError, "Missing the required parameter 'customer_id' when calling PayStatementsApi.store_customer_pay_statement"
      end
      # verify the required parameter 'pay_statement' is set
      if @api_client.config.client_side_validation && pay_statement.nil?
        fail ArgumentError, "Missing the required parameter 'pay_statement' when calling PayStatementsApi.store_customer_pay_statement"
      end
      # resource path
      local_var_path = '/aggregation/v1/customers/{customerId}/payStatements'.sub('{' + 'customerId' + '}', CGI.escape(customer_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/plain'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(pay_statement)

      # return_type
      return_type = opts[:debug_return_type] || 'Asset'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['FinicityAppToken', 'FinicityAppKey']

      new_options = opts.merge(
        :operation => :"PayStatementsApi.store_customer_pay_statement",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PayStatementsApi#store_customer_pay_statement\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
